  .park-select {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(216, 216, 216, 0);
    border: solid 1px #979797;
    display: inline;
    margin: 15px 0px 0px 30px;
  }
