
  .city-select {
     select{
       width: 340px;
       height: 60px;
       border-radius: 2px;
       background-color: #ffffff;
       border: solid 1px #d0c8c8;
       border-left: solid 4px #f8e71c;
       margin: 30px 0px 0px 15px;
       }
     }
