@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.rezervation-delete-button {
    padding-bottom: 10px;
  .icon-close {
    float: right;
    margin: 15px 20px 0px 0px;
    padding: 1px 1px 1px 1px;
    border-radius: 50%;
    background-color: #d0021b;
    color: #ffffff;
    margin-top: -20px;

  }
}
