@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.update-car-form {
  position: relative;
  margin: 0px 0px 50px 0px;

  h6 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .form-group {
    margin-bottom: 25px;

    label {
      margin: 5px 0px 0px 275px;
      text-align: left;
    }
    .car-select {
      position: absolute;
      left: 50%;
      right:50%;
      bottom: 10px;
      transform: translate(-50%);
      width: 300px;
      height: 40px;
      border-radius: 4px;
      background-color: rgba(216, 216, 216, 0);
      border: solid 1px #979797;
      padding: 10px;
    }
    .type-select {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%);
      width: 300px;
      height: 40px;
      border-radius: 4px;
      background-color: rgba(216, 216, 216, 0);
      border: solid 1px #979797;
      padding: 10px;

    }
  }
  .update-button {
    position: absolute;
    top: 20px;
    left: 55%;
    transform: translate(-50% , -50%);
    margin: 10px 0px 0px 0px;
    width: 140px;
    height: 40px;
    background-color: #f8e71c;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      display: inline;
    }
  }

  .create-button {
		position: absolute;
		top: 20px;
		left: 45%;
		transform: translate(-50% , -50%);
		margin: 10px 0px 0px 0px;
		width: 140px;
		height: 40px;
		background-color: #000000;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			display: inline;
		}
	}

}
